.opacity-1{
    opacity: 1 !important;
}

.show{
    opacity: 1 !important;
    visibility: visible !important;
}

.overflow-hide{
    overflow: hidden !important;
}

.d-block{
    display: block !important;
}