@font-face {
  font-family: "Imperial";
  src: url("/assets/fonts/Imperial.woff2") format("woff2"),
    url("/assets/fonts/Imperial.woff") format("woff"),
    url("/assets/fonts/Imperial.otf") format("otf");
}

@font-face {
  font-family: "Frente Nacional";
  src: url("/assets/fonts/FrenteNacional.woff2") format("woff2"),
    url("/assets/fonts/FrenteNacional.woff") format("woff"),
    url("/assets/fonts/FrenteNacional.otf") format("otf");
}
